.сontainer {
	width: 400px;
	height: 200px;
	margin-top: 450px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
	background-color: #14161a;
}

.gridContainer {
	display: grid;
	width: 95%;
	margin: auto;
	gap: 2px;
	grid-template-columns: 100;
}

.screen {
	width: 95%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	background-color: #e1f2ff;
	text-align: center;
}

.result {
	width: 95%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	background-color: #042926;
	text-align: center;
	color: rgb(247, 240, 240);
}

.numbers {
	width: auto;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	padding: 0;
	gap: 2px;
}

li {
	width: auto;
	height: 20px;
	background-color: #21242b;
	color: rgb(248, 243, 243);
	list-style-type: none;
	text-align: center;
}
